@font-face {
    font-family: 'yekan';
    src: url(/assets/fonts/yekan/Yekan.eot);
    src: url(/assets/fonts/yekan/Yekan.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/yekan/Yekan.woff) format("woff"), url(/assets/fonts/yekan/Yekan.ttf) format("truetype"), url(/assets/fonts/yekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 30px;
    text-align: center;
    background: url('/images/bg/bg.jpg') repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
textarea{
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
}


.form-top-right {
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    opacity: 0.3;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
/*==--------------color---------
    #e6e6e6
*/
.color-white{
    color: #e6e6e6;
}

/*---------------------*/

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    padding-top: 6px;
}



/*------------Wizard----------*/
.wizard{
    -overflow: hidden;
    width: 100%;
    position: relative;
}
.progressBar{
    position: absolute;
    border-top: 4px solid #ddd;
    top:28px;
    width: 100%;
}
.progress-line{
    width: 0;
    border-top: 4px solid #fba61a;
    position: relative;
    z-index: 0;
    top: -4px;
}
.step{
    counter-reset: step;
}
.step-start{
    width: 60px;
    height: 60px;
    position: relative;
    float: right;
}
.step-next{
    height: 60px;
    position: relative;
    float: right;
}
.step-next .inner{
    width: calc(100% - 60px);
    height: auto;
    justify-content: space-around;
    display: flex;
    margin-top: 22px;
}
.step-4 .step-next{
    /* Firefox */
    width: -moz-calc((100% - 60px) / 4);
    /* WebKit */
    width: -webkit-calc((100% - 60px) / 4);
    /* Opera */
    width: -o-calc((100% - 60px) / 4);
    /* Standard */
    width: calc((100% - 60px) / 4);
}
.step-1 .step-next{
    /* Firefox */
    width: -moz-calc((100% - 60px) / 1);
    /* WebKit */
    width: -webkit-calc((100% - 60px) / 1);
    /* Opera */
    width: -o-calc((100% - 60px) / 1);
    /* Standard */
    width: calc((100% - 60px) / 1);
}
.step-2 .step-next{
    /* Firefox */
    width: -moz-calc((100% - 60px) / 2);
    /* WebKit */
    width: -webkit-calc((100% - 60px) / 2);
    /* Opera */
    width: -o-calc((100% - 60px) / 2);
    /* Standard */
    width: calc((100% - 60px) / 2);
}
.step-3 .step-next{
    /* Firefox */
    width: -moz-calc((100% - 60px) / 3);
    /* WebKit */
    width: -webkit-calc((100% - 60px) / 3);
    /* Opera */
    width: -o-calc((100% - 60px) / 3);
    /* Standard */
    width: calc((100% - 60px) / 3);
}
.step-5 .step-next{
    /* Firefox */
    width: -moz-calc((100% - 60px) / 5);
    /* WebKit */
    width: -webkit-calc((100% - 60px) / 5);
    /* Opera */
    width: -o-calc((100% - 60px) / 5);
    /* Standard */
    width: calc((100% - 60px) / 5);
}
.step-6 .step-next{
    /* Firefox */
    width: -moz-calc((100% - 60px) / 6);
    /* WebKit */
    width: -webkit-calc((100% - 60px) / 6);
    /* Opera */
    width: -o-calc((100% - 60px) / 6);
    /* Standard */
    width: calc((100% - 60px) / 6);
}
.step-7 .step-next{
    /* Firefox */
    width: -moz-calc((100% - 60px) / 7);
    /* WebKit */
    width: -webkit-calc((100% - 60px) / 7);
    /* Opera */
    width: -o-calc((100% - 60px) / 7);
    /* Standard */
    width: calc((100% - 60px) / 7);
}
.circle-big{
    width: 60px;
    height: 60px;
    background-color: #e6e6e6;
    border-radius: 100%;
    color: #fff;
    position: relative;
    float: left;
    counter-increment: step;
}


.circle-small{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 4px solid #ddd;
    background-color: #fff;
    position: relative;
}

.circle-big:before {
    content: counter(step);
    width: 80%;
    height: 80%;
    background-color: #b4b4b4;
    border: 3px solid #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    position: relative;
    margin: auto;
}
.step .active .circle-big:before , .step .active .circle-small{
    background-color: #fba61a;
}
.display-none{
    display: none;
}
.btn-wizard{
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 30px;
}
.btn-wizard a.back{
    position: absolute;
    right: -80px;
    color: #b4b4b4;
}
.btn-wizard a.next{
    position: absolute;
    left: -80px;
    color: #b4b4b4;
    cursor: pointer;
}
.btn-wizard a:hover{
    color:#fba61a;
    cursor: pointer;
}
/*------------Wizard----------*/
/*------------bgColor----------*/
.bg-withe{
    background-color: #fff;
}
/*------------bgColor----------*/
.main{
    background: url('/images/bg/bg_footer.png') center bottom #fff no-repeat;
    background-size: contain;
    border: 1px solid #ddd;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.icon-title{
    background-color: #fba61a;
    color: #fff;
    width: 55px;
    height: 79px;
    top: -9px;
    position: relative;
    float: right;
    /*margin-right: 25px;*/
    margin-left: 25px;
}

.icon-title :after{
    content: '';
    border-right: 11px solid #a26d16;
    border-top: 8px solid transparent;
    position: absolute;
    left: 0px;
    top: 0;
    left: -11px;
}
.icon-title i{
    font-size: 40px;
    line-height: 84px;
}
.title{
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    display: flex;

}
.title-inner{
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-inner .line{
    border-bottom: 1px solid #ddd;
    position: absolute;
    width: 100%;
    top: 41px;
}
.title-inner h4{
    float: right;
    background: #fff;
    position: relative;
    padding-left: 30px;
    color: #fba61a;
}
.title-inner h5{
    float: left;
    background: #fff;
    position: relative;
    padding-right: 30px;
    color: #666;
}

label.text-left{
    color: #9d9d9d;
    position: relative;
    display: block;
}
label.text-left :before{
    content: '';
    position: absolute;
    right: 0;
    top: 8px;
    /* margin-left: 10px; */
    border-right: 7px solid #fba61a;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;

}
label.text-left span{
    margin-right: 20px;
}
.container-main input.form-control,.container-main select.form-control,.container-main textarea.form-control{
    background-color: #f3f3f3;
    border:0px;
    border-radius: 0;
    min-height: 47px;

}
.container-main .btn{
    width:205px;
    border-radius: 0;
    border: 0;line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #9d9d9d;
}
.container-main  .btn-primary{
    background-color: #fba61a;
    color: #fff;
}

.form-control.error{
    border: 1px solid #fb301a;
}
label.error {
    text-align: right;
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #fb301a;
    padding-right: 10px;
}

.btn-diff{
    width: 105px;
    background-color: #fa503a;
    color: #fff;
}

.row.row-multi {
    border: 1px solid #ddd;
    border-left: 0;
    font-size: 11px;
    margin-left: 15px;
    margin-right: 15px;
}

.row.row-multi > div {
    border-left: 1px solid #ddd;
    padding: 5px;
    background: aliceblue;
}
.mt-20{
    margin-top: 20px;
}

.row-multi-no-padding {
     margin-right: 15px;
    margin-left:15px
}
.row-multi-no-padding .form-group{
    padding: 0;
}

.seperator-title, .separator-title {
    padding: 8px;
    text-align: center;
    color: #fff;
    clear: both;
    background: #67809F;
}
div.calendar > table > thead > tr:nth-child(1) > td.title{
    display: table-cell;
}

.fs-13{
    font-size: 13px;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .title{
        margin-top: 0;
        line-height: 70px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}