body {
    font-size: 16px;
    /*font-weight: 300;*/
    /*background: url('/images/bg/bg-blue2.jpg') #ddd center center no-repeat;*/
    /*background: url('/images/bg/index04.jpg') #ddd center center no-repeat;*/
    /*height: 918px;*/
    background-size: cover;
    color: #888;
    line-height: 30px;
    text-align: center;
}

body > div{
    width:inherit;
    overflow: hidden;
}

input,button,textarea{
    border-radius: 0 !important;
}
.display-none{
    display: none;
}
.btn-default{
    background-color: #fba61a;
    color: #fff;
    border: #a66c14;
}
a:hover{
    text-decoration: none;
}
.bg-black{
    background-color: #21120b;
}
.bg-orange{
    background-color: #fba61a;
}
.bg-rouged{
    background-color: #1596ac !important;
}
.navbar-inverse{
    border-bottom: 4px solid #fba61a;
    position: relative;
    z-index: 1;
}

.fs-11{
    font-size: 11px;
}

.fs-13{
    font-size: 13px;
}
.fs-15{
    font-size: 15px;
}
.fs-17{
    font-size: 17px;
}
.fs-16{
  font-size: 16px;
}
.fs-22{
  font-size: 22px;
}
.fb{
    font-weight: bold;
}

.pt-5{
    padding: 5px;
}
.pt-10{
    padding: 10px;
}
.pt-15{
    padding: 15px;
}
.ml-15{
    margin-left: 15px;
}
.ml-10{
    margin-left: 10px;
}
.ml-5{
    margin-left: 5px;
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 30px;
}
.mt-15{
    margin-top: 15px;
}
.mt-10{
    margin-top: 10px;
}
.mt-5{
    margin-top: 5px;
}
.mb-30{
    margin-bottom: 30px;
}
.divide{
    border: 5px solid #e4e4e4;
    margin-top: 50px;
    margin-bottom: 50px;
}
.color-white{
    color: #fff !important;
}
.color-yellow{
    color: #ffe400 !important;
}
.color-grey{
    color: #746b67 !important;
}
.color-rouged{
    color: #1596ac !important;
}

label.error,.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline{
    font-size: 11px;
    text-align: right;
}
.logo{
    float: right;
    padding: 24px;
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-header > div{
    padding-left:0;
    padding-right:0;
}
.title-header{
    font-size: 26px;
    height: 0;
}
.title-header-desc{
    font-size: 13px;
}
.header-login{
    width: 100%;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #fba61a;
}
.no-padding-right{
    padding-right: 0px;
}
.no-padding-left{
    padding-left: 0px;
}
ul.header-contact {
    margin-top: 20px;
}
ul.header-contact , ul.header-contact ul{
    padding-right: 0px;
}
ul.header-contact li{
    list-style: none;
    color: #fff;
    font-weight: bold;
    line-height: 22px;
}
ul.header-contact li>ul li{
    display: inline;
    padding: 2px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #21120b;
    border-bottom: 4px solid #fba61a;
    z-index: 1;
}
.footer span{
    font-size: 13px;
}
.footer .text-right{
    text-align: right;
}

.inner-banner-right{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 500px;
    background: url('/images/bg/inner-bg.png');
    background-repeat: repeat-y;
    z-index: -1;
}
.inner-banner{
    position: relative;
}
.inner-banner-left{
    position: absolute;
    top: 0px;
    width: 767px;
    left: -531px;
    background: url('/images/bg/circle.png') #efefef;
    background-repeat: no-repeat;
    background-position: -90px center;
    min-height: 596px;
    animation-name: move;
    animation-duration: 2s;
    z-index: 0;
    padding: 20px;
    box-shadow: 2px 2px 16px #aeaeae;
}

/* The animation code */
@keyframes move {
    0%   {left:-1000px;}
    100% {left: -531px;}
}

.owl-document .item{
    border:1px solid #ddd;
    padding: 5px;
}
.owl-document .item>div{
    background-color: #999b9b;
    cursor: pointer;
}
.owl-document .item:hover > div{
    background-color: #65b7c5;
    animation-name: itemHover;
    animation-duration: .5s;
    transform: scale(.93);
}
@keyframes itemHover {
    0%      {background-color: #999b9b;transform: scale(1)}
    100%    {background-color: #65b7c5;transform: scale(.93);}
}

.btn-owl{
    opacity: 1;
    position: relative;
    width: 95px;
    height: auto;
    padding-left:15px;
    padding-right:15px;
}
.btn-owl > div{
    width:100%;
    background: rgba(251, 166, 26, 0.25);
    padding: 8px;
    height: auto;
}
.content-owl{
    width: calc((100% - 95px));
    padding-left:15px;
    padding-right:15px;
}
.btn-owl .fa{
    font-size: 27px;
}

.btn-owl-next-arrow{
    /*position: absolute; *!/*/
    /* float: right; */
    width: 100%;
    height: auto;
    /* left: 8px; */
    /* top: 8px; */
    background: #fba61a;
    opacity: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 47px;
    align-items: center;
    cursor: pointer;
    /* position: absolute; */
    margin-bottom: 5px;
}

.btn-owl-prev-arrow{
    /* position: absolute; */
    width: 100%;
    height: auto;
    /* left: 8px; */
    /* bottom: 8px; */
    float: none;
    background: #fba61a;
    opacity: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 47px;
    align-items: center;
    cursor: pointer;
}
.btn-owl-next-arrow:hover , .btn-owl-prev-arrow:hover{
    background: #65b7c5;
}
.img-info img{
    margin: auto;
}
.title-create-user{
    line-height: 37px;
}
.captcha{
    border: 1px solid #ccc;
    height: 34px;
}
.alert.alert-danger li{
    text-align: right;
    font-size: 13px;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media (min-width : 320px) {
    .header-login {
        width: 90vw;
        clear: both;
    }
    .navbar-header a:nth-child(3){
        font-size: 16px;
    }
    .logo {
        padding-left: 0;
        padding-right: 20px;
    }
    ul.header-contact {
        border-right: 0px;
    }

    .footer{
        font-size: 13px;
        text-align: center;
    }
}

/* Extra Small Devices, Phones */
@media (min-width : 480px) {
    .navbar-header > div{
        padding-left:15px;
        padding-right:15px;
    }
}

/* Small Devices, Tablets */
@media (min-width: 768px){
    .navbar-header{
        width:330px;
    }
    .navbar-header a:nth-child(2){
        font-size: 16px;
    }
    .header-login {
        width: 340px;
    }
    .logo {
        padding-right: 0px;
    }
}

/* Medium Devices, Desktops */
@media (min-width : 992px) {

    .header-login {
        width: 490px;
    }
    ul.header-contact {
        border-right: 2px solid #463a34;
    }
    .title-create-user{
        line-height: 15px;
    }
}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
    .header-login {
        width: 550px;
    }
    .inner-banner-left{
        left: -481px;

    }
    /* The animation code */
    @keyframes move {
        0%   {left:-1000px;}
        100% {left: -481px;}
    }
}