* {
    font-family: Tahoma, Arial;
    font-size: 12px;
}
.ltr {
    direction: ltr;
}
.rtl {
    direction: rtl;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
/* here you can put your own css to customize and override the theme */
input[readonly].knob {
    background: none !important;
}
.navbar-brand .logo {
    display: block;
    margin: -5px 15px;
    color: #b3b3b3;
    font-size: 11px;
}
.login .logo {
    font-size: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.header.navbar .navbar-brand {
    width: 60%;
}
@media screen and (max-width: 768px) {
    .header.navbar .navbar-brand {
        width: 80%;
    }
}
@media screen and (max-width: 380px) {
    .header.navbar .navbar-brand {
        display: none;
    }
}
.list-btn {
	margin: 0;
	padding: 0;
	width: 100%;
}
table.list-btn td {
    padding: 0 3px;
}
table.list-btn td i {
	color: #000;
	font-size: 20px;
}
table.list-btn td i:hover {
	color: #4B8DF8;
}
.table thead tr th {
    direction: ltr;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.search-box {
    margin-bottom: 30px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #eee;
}
.search-table {
    border: none;
}
.search-table tbody tr td {
    padding: 5px 5px 5px 0;
    border: none;
    vertical-align: middle;
}
.portlet.box > .portlet-title a {
    margin-left: 3px;
}
.portlet.box > .portlet-title a i {
    color: #fff;
    font-size: 16px;
}
.portlet.box > .portlet-title .btn-group {
    margin-left: 3px;
}
.portlet.box > .portlet-title .reload {
    margin-right: 2px;
}
.portlet.box > .portlet-title > .tools {
    margin-top: 0;
}
#limit_count {
    position: absolute;
    top: 32px;
    right: 45px;
    width: 90px !important;
}
.page-content .page-breadcrumb.breadcrumb > li > a, .page-content .page-breadcrumb.breadcrumb > li > i,
.page-content .page-breadcrumb.breadcrumb > li > span, .page-sidebar-menu > li > ul.sub-menu > li > a {
    font-size: 12px;
}

ul.page-sidebar-menu > li > ul.sub-menu > li.active > a, ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
    font-size: 12px;
}
.frm-title {
    margin: 5px 0;
}
.form-control {
    font-size: 13px;
    border: 1px solid #d7d7d7;
}
.seperator-title, .separator-title {
    padding: 8px;
    text-align: center;
    color: #fff;
    background: #67809F;
}
.table th {
    text-align: center;
}
.remBut i, .addBut i {
    font-size: 18px;
}
.help-block, p.help-block {
    font-size: 11px;
    font-family: Tahoma, Arial;
}
label, label.checkbox {
    font-family: Tahoma, Arial;
    font-size: 12px;
}
.calendar, .ui-autocomplete {
    z-index: 100000;
}
.table > thead > tr > th.rotate90,
.table > tbody > tr > th.rotate90,
.table > tfoot > tr > th.rotate90,
.table > thead > tr > th.rotate45,
.table > tbody > tr > th.rotate45,
.table > tfoot > tr > th.rotate45 {
    vertical-align: middle;
}
.input-group-addon {
    font-size: 12px;
}
th.rotate90 span, th.rotate45 span {
    display: inline-block;
    font-size: 11px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
th.rotate45 span {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);    
}
body.modal-open {
    overflow: hidden;
}
.modal-scrollable {
    overflow-y: scroll !important;
}
.table th {
    vertical-align: middle;
}
.fileinput-icon a, .fileinput-icon a span {
    display: block;
    font-size: 11px;
}
.fileinput-icon a span {
    display: inline-block;
}
.custom-thumbnail {
    min-height: 165px;
    width: 200px;
}
.table-user-info tbody > tr > td {
    border: none;
}
.table-user-image tbody > tr:first-child > td {
    border-top: none;
}
.block-overlay {
    position: absolute;
    cursor: wait;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.6;
    z-index: 1000;
    background-color: #fff;
}
.block-overlay img {
    position: absolute;
    top: 49%;
    left: 48%;
}
a:hover {
    text-decoration: none;
    color: #E02222;
}
.exited-item-list .ui-state-default .ui-icon {
    background-image: url("/assets/plugins/jquery-ui/images/ui-icons_ffffff_256x240.png");
}
.table-title {
    font-size: 13px;
    padding: 6px;
    margin-top: 10px;
    color: #fff;
    background: #3276b1;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.table-delivery tr th {
    font-size: 10px;
}
.bootbox-body #sf-resetcontent {
    width: 100%;
}
div.phpdebugbar {
    z-index: 100000 !important;
}
.table-striped > tbody > tr.delivery-box:nth-child(2n+1) > td,
.table > thead > tr.delivery-box > td {
    background: #fffff1;
}
label {
    font-size: 12px;
}
.invoice-list label {
    cursor: pointer;
    min-width: 30px;
}
.invoice-list label:hover, .deliver-table .invoice-no:hover {
    cursor: pointer;
    color: #7BBBD6;
}
.filter-table > tbody > tr > th, .filter-table > tbody > tr > td {
    vertical-align: middle;
}
.filter-table .btn:hover {
    color: #428BCA;
}
.invoice-customer-switch .has-switch.switch-small label, .invoice-customer-switch .has-switch.switch-small span {
    font-size: 18px;
    line-height: 26px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background: none;
}
.popover-inner-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.div-striped > div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.div-striped > div:nth-child(odd) {
    background: #f9f9f9;
}
.portlet.box > .portlet-title > .tools {
    margin-top: 0;
}
@media (max-width: 768px) {
  .invoice-customer-switch .b-switch-holder {
    padding: 10px 0 0 0;  
  }
}
@media (max-width: 1100px) {
  .portlet-body .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* rules only apply in saf3+, chrome1+ */
    .btn-forward, .btn-reply {
        padding-top: 13px;
    }
}
.bck_f7 th {
    background-color: #F7F7F7;
}
.label-pre-accepted {
    background-color: #FF9900 !important;
}
.datainfo {
    overflow: hidden;
    height: 20px;            
}
.info-edit td {
    background: #A8C8D9 !important;
}
.label-purple {
    background: #852B99;
}
.payment-list:nth-child(odd) {
    background: #f8f8f8;
}
div.table .form-group:nth-child(even) {
    background: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
}
.chart-rotate div.xAxis div {
    transform: rotate(25deg);
    -ms-transform:rotate(25deg); /* IE 9 */
    -moz-transform:rotate(25deg); /* Firefox */
    -webkit-transform:rotate(25deg); /* Safari and Chrome */
    -o-transform:rotate(25deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
    padding: 3px 20px 3px 40px;
}

/** File Input **/
.mix-filter {
    list-style: none;
    margin:0 0 20px 0;
    padding: 0;
}

.mix-filter li {
    color: #555;
    cursor: pointer;
    padding: 6px 15px;
    margin-right: 2px;
    margin-bottom: 5px;
    background: #eee;
    display: inline-block;
}

.mix-filter li:hover,
.mix-filter li.active {
    color: #fff;
    background: #0da3e2;
}

.mix-grid .mix {
    opacity: 0;
    display: none;
}

/*Portfolio Hover*/
.mix-grid .mix {
    position: relative;
    overflow: hidden;   
    margin-bottom: 15px;
}

.mix-grid .mix .mix-inner {
    position: relative;
    width: 100%;
}

.mix-grid .mix .mix-details, .fileinput-icon .mix-details  {
    color: #fff;
    width: 100%;
    height: 100%;
    bottom: -100%;
    text-align: center;
    position: absolute;
    background: #0da3e2;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;  
}

.mix-grid .mix:hover .mix-details, .fileinput-icon:hover .mix-details {
    bottom: 0;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;  
}

.mix-grid .mix .mix-details h4, .fileinput-icon .mix-details h4 {
    color: #fff;    
    margin-top: 30px;
}

.mix-grid .mix .mix-details p, .fileinput-icon .mix-details p {
    padding: 0 30px;
}

.mix-grid .mix .mix-details i, .fileinput-icon .mix-details i {
    color: #fff;
    font-size: 14px;
}

.mix-grid .mix a.mix-link, 
.mix-grid .mix a.mix-preview,
.fileinput-icon a.mix-link,
.fileinput-icon a.mix-preview {
    color: #555;
    display: block;
    cursor: pointer;
    margin-top: 10px; 
    position: absolute;
    padding: 10px 15px;
    background: #16b2f4;
}

.mix-grid .mix a.mix-preview, .fileinput-icon a.mix-preview {
    left: 50%;
    margin-left: 5px;
}
.fileinput-icon a.mix-preview {
    top: 30%;
    left: 37%;
}

.mix-grid .mix a.mix-link, .fileinput-icon a.mix-link {
    right: 50%;
    margin-right: 5px;
}
.fileinput-icon a.mix-link {
    top: 30%;
    right: 37%;
    margin-right: 5px;
}

.mix-grid .mix a.mix-link:hover,
.mix-grid .mix a.mix-preview:hover,
.fileinput-icon a.mix-link:hover,
.fileinput-icon a.mix-preview:hover {
    color: #fff;
    padding: 9px 14px;
    text-decoration: none;
    border: solid 1px #eee;
}
.blueBcSt:nth-child(even) .BlueQC { 
    background-color: #ecf6fb;
}
.blueBcSt:nth-child(odd) .BlueQC { 
    background-color: #d9edf7;
}
.greyTr td, .greyTr th {
    background-color: #DDD;
}
.lightGreyTr td, .lightGreyTr th {
    background-color: #EEE;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) { 
    .mix-grid .mix.col-md-6.col-sm-6 .mix-details {
        height: 50%;
    }

}
@media (min-width: 768px) and (max-width: 991px) {     
    .mix-grid .mix a.mix-link,
    .mix-grid .mix a.mix-preview,
    .fileinput-icon a.mix-link
    .fileinput-icon a.mix-preview {
        margin-top: 5px;
    }

}
textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}
.btn-gallery {
    position: relative;
    right: -150px;
    top: -35px;
    width: 50px;
    border: 1px dotted #C5C5C5;
    padding: 7px 7px 5px 7px;
    background-color: rgb(229, 229, 229);
}
.latin {
    font-family: Arial, Tahoma;
}
.pdr-8 {
    padding-right: 8px;
}
