/* here you can put your own css to customize and override the theme */
@font-face {
  font-family: "mitra";
  src: url("/assets/fonts/mitra/mitra.eot");
  src: local("?"),
    url("/assets/fonts/mitra/mitra.woff") format("woff"),
    url("/assets/fonts/mitra/mitra.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "mitra-bold";
  src: url("/assets/fonts/mitra/mitrabold.eot");
  src: local("?"),
    url("/assets/fonts/mitra/mitrabold.woff") format("woff"),
    url("/assets/fonts/mitra/mitrabold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
    font-family: mitra;
    font-size: 14px;
}
/*************/
h1, h2, h3, h4, h5, h6 {
    font-family: mitra;
}
.btn {
    font-size: 12px;
    font-family: "mitra", Tahoma, Arial;
}
.forget-password, .forget-password p {
    font-family: mitra;
}
.portlet.box > .portlet-title a {
    margin-left: 0;
    margin-right: 3px;
}
.portlet.box > .portlet-title .btn-group {
    margin-left: 0;
    margin-right: 3px;
}
.portlet.box > .portlet-title .reload {
    margin-left: 2px; 
}
button.close {
    float: left;
    width: 24px;
    height: 24px;
    background-position: center center;
}
.form-control {
    font-size: 13px;
    font-family: "mitra", Tahoma;
}
.list-btn {
    margin: 0;
    padding: 0;
    width: 100%;
}
table.list-btn td i {
    direction: rtl;
    color: #000;
    font-size: 20px;
}
table.list-btn td i:hover {
    color: #4B8DF8;
}
table.table thead .sorting {
    background-position: left center;
}
.table thead tr th {
    direction: rtl;
    text-align: center;
    font-size: 14px;
    font-family: mitra;
}
.portlet-title .caption, .theme-options {
    font-family: mitra;
}
.navbar-nav > li {
    float: right;
}
.copyright, .footer .footer-inner {
    font-family: mitra;
}
.search-table tbody tr td {
    padding: 5px 0 5px 5px;
}
.login .logo {
    color: #fff;
    font-size: 22px;
    font-family: mitra;
}
.navbar-brand .logo {
    font-size: 15px;
    font-family: mitra;
}

#limit_count {
    display: none;
    right: auto;
    left: 45px;
}
.select2-input, ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
    font-size: 12px !important;
    font-family: "mitra", Tahoma, Arial !important;
}
.inbox .inbox-nav li a {
    font-family: mitra;
}
/** home **/
.dashboard-stat .details, .dashboard-stat .details .number, .dashboard-stat .details .desc {
    font-family: mitra;
}
/** invoice **/
.delivery-list {
    float: right;
    margin: 0 0 0 15px;
    border-right: none;
    border-left: 1px solid #ccc;
}
.delivery-list:nth-child(even) {
    border-left: none;
}
div.phpdebugbar {
    direction: ltr;
}
.report-table th {
    font-family: mitra;
}
.dropdown-menu.extended li p, .dropdown-menu.inbox li > a .subject .from {
    font-size: 15px;
    font-family: mitra;
}
.dropdown-menu.inbox li > a .message, .dropdown-menu.extended li.external > a {
    font-size: 11px;
}
.form-wizard .step .desc {
    display: block;
    font-size: 14px;
}
input::-moz-placeholder {
    font-family: "mitra", Tahoma, Arial;
    text-align: right;
}
input::-ms-input-placeholder {
    font-family: "mitra", Tahoma, Arial;
    text-align: right;
}
input::-webkit-input-placeholder {
    font-family: "mitra", Tahoma, Arial;
    text-align: right;
}
.multiselect-container > li > a > label {
    padding: 3px 40px 3px 20px !important;
}
.multiselect-clear-filter { 
    padding: 8px 8px 7px !important
}
.mitra {
    font-family: mitra;
}
.form-group .control-label, div.alert, .help-block, .page-title, .page-breadcrumb li {
    font-family: mitra,Tahoma,Arial;
}
label, label.checkbox {
    font-family: mitra, Tahoma, Arial;
    font-size: 12px;
}
#sf-resetcontent,
pre.sf-dump  {
    direction: ltr;
}
#sf-resetcontent * {
    font-family: Tahoma, Arial;
}
.btn-gallery {
    right: auto;
    left: -150px;
}
.mce-menubar *, .mce-menu-item .mce-text, .mce-btn-group button {
    font-family: mitra !important;
}
.pdr-8 {
    padding-right: 0px;
    padding-left: 8px;
}