@font-face {
    font-family: 'yekan';
    src: url(/assets/fonts/yekan/Yekan.eot);
    src: url(/assets/fonts/yekan/Yekan.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/yekan/Yekan.woff) format("woff"), url(/assets/fonts/yekan/Yekan.ttf) format("truetype"), url(/assets/fonts/yekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}
body{
    font-family: yekan;
}

::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    direction: rtl;
}
::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    direction: rtl;
}
.rtl{
    direction : rtl;
}
.ltr{
    direction : ltr;
}

.fs-32{
    font-size: 32px;
}
.fs-16{
    font-size: 16px;
}
.fs-15{
    font-size: 15px;
}
.fs-14{
    font-size: 14px;
}

.mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;
}